*{
	font-family: sans-serif;
	box-sizing: border-box;
	color: rgb(242,239,248);
}
body {
	font-size: 20px;
	margin: 0;
	background-color: rgb(54,41,75);
}
header {
	background-color: rgb(54,41,75);
	width: 100%;
	height: 60px;
	border-bottom: solid 0.3rem rgb(249,116,6);
	z-index: 5;
}